<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation Details</title>

    <style>
      .quotation-details-table {
          width: 80%;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
      }
      .table-bordered {
          border: 1px solid #dee2e6;
      }
      .table {
          width: 100%;
          margin-bottom: 1rem;
          color: #212529;
      }
      .table td, .table th {
          padding: .75rem;
      }
    </style>
</head>
<body>

    <table class="table table-bordered quotation-details-table">
        <tbody>
          <tr>
            <td>Email</td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{mobile}}</td>
          </tr>

          <tr>
            <td>Quotation Price</td>
            <td>{{quotation_price}}</td>
          </tr>


          <tr>
            <td>Vehicle Model</td>
            <td>{{vehicle_model}}</td>
          </tr>
          <tr>
            <td>Vehicle Price</td>
            <td>{{vehicle_price}}</td>
          </tr>
          <tr>
            <td>Vehicle Year Make</td>
            <td>{{vehicle_year}}</td>
          </tr>
          <tr>
            <td>Vehicle Number</td>
            <td>{{vehicle_number}}</td>
          </tr>


          <tr>
            <td>Windscreen Coverage</td>
            <td>{{windscreen_coverage}}</td>
          </tr>
          <tr>
            <td>Passenger Liability Coverage</td>
            <td>{{passenger_liability_coverage}}</td>
          </tr>
          <tr>
            <td>Flood Coverage</td>
            <td>{{flood_coverage}}</td>
          </tr>
          <tr>
            <td>Windstorm Coverage</td>
            <td>{{windstorm_coverage}}</td>
          </tr>
          <tr>
            <td>Landslide Coverage</td>
            <td>{{landslide_coverage}}</td>
          </tr>
          <tr>
            <td>Subsidence Coverage</td>
            <td>{{subsidence_coverage}}</td>
          </tr>

        </tbody>
      </table>

</body>
</html>